.App {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.add__item {
  margin-bottom: 30px;
}
.add__item {
  text-align: center;
}
.todo__item {
  display: flex;
}
.todo__list {
  margin-bottom: 50px;
}
.loading {
  display: flex;
  justify-content: center;
}
