.App {
  max-width: 1000px;
  margin: 0 auto;
}

.set-limit {
  display: flex;
}

ul {
  list-style: none;
}

.add__item {
  margin-bottom: 30px;
}

.todo__item {
  display: flex;
}
.todo__list {
  margin-bottom: 50px;
}
